*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*{
	font-family: 'Baloo Bhaijaan 2', cursive;
}

/********************************************************************************/

*{
	font-family: 'Baloo Bhaijaan 2', cursive;
}
header{
	display:flex;
	align-content: center;
	justify-content: space-between;
	margin: 1rem;
	/*
	position: fixed;
	top: 0;
	*/
}

.header__logo{
	border-radius: 50%;
	height: 200px;
}

.header__punchline{
	padding: 1rem;
	align-self: center;
}

.header__navbar{
	align-self: center;
}

.header__navbar__list{
	display: flex;
	list-style: none;
}

.header__navbar__item{
	padding:1rem;
}

/********************************************************************************/

.main__introduccion{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto 500px 75px;
	grid-template-areas: 
	"introduccionTitulo introduccionTitulo"
	"introduccionParrafo introduccionImg"
	"introduccionBoton introduccionImg";
	align-items: center;
	justify-items: center;
	margin: 1rem;

}

.main__titulo{
	grid-area: introduccionTitulo;
	text-align: center;
	margin: 20px;
}

.main__introduccion__parrafo{
	grid-area: introduccionParrafo;
	text-align: center;
	margin:1rem;
	width: 70%;
}

.main__introduccion__boton{
	grid-area: introduccionBoton;
	align-self: center;
	text-align: center;
	padding: 1rem;
	background-color: tomato;
	width 200px;
	border-radius: 20px;
	margin: 20px;
	transition: filter 0.5s;
}

.main__introduccion__boton:hover{
	filter: brightness(50%);
}

.main__introduccion__img{
	grid-area: introduccionImg;
	height: 100%;
	max-width: 100%;
	border-radius:10%;
}

.main__programa{
	display: grid;	
	grid-template-columns: repeat(3,33.3%);
	grid-template-rows: auto 500px 75px;
	grid-template-areas:
	". programaTitulo ."
	"programaImg programaLista programaLista"
	"programaImg programaBoton .";
	margin: 1rem;
	align-items: center;
	align-content: center;
}

.main__programa__img{
	grid-area: programaImg;
	height:100%;
	max-width: 100%;
	border-radius:10%;
	justify-self: center;
}

.main__programa__titulo{
	grid-area: programaTitulo;
	margin: 20px;
}

.main__programa__lista{
	grid-area: programaLista;
	padding: 2rem;
}

.main__programa__boton{
	grid-area: programaBoton;
	align-self: center;
	text-align: center;
	padding: 1rem;
	background-color: tomato;
	width: 200px;
	border-radius: 20px;
	margin: 20px;
	transition: filter 0.5s;
}

.main__programa__boton:hover{
	filter: brightness(50%);
}

.main__recetas__titulo{
	text-align: center;
	margin: 1rem;
	padding:1rem;
}

.main__recetas{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 1rem;
}

.main__recetas a{
	border-radius: 50%;
	align-content: center;
	text-align: center;
}

.main__recetas a img{
	border-radius: 50%;
	width: 300px;
	height: 300px;
	transition: filter 0.5s;
}

.main__recetas a img:hover{
	filter: brightness(50%);
}

.main__sobremi{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	margin: 1rem;
}

.main__sobremi__titulo{
	text-align: center;
	margin: 1rem;
	padding: 1rem;
}

.main__sobremi__parrafo{
	text-align: center;
	margin:1rem;
	width: 30%;
}

.main__sobremi__imagen{
	height: 500px;
	width: 700px;
	border-radius: 10%;
}

a{
	text-decoration: none;
}

/********************************************************************************/

footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 1rem;
	background-color: tomato;
}

.footer__descripcion{
	display: grid;
	grid-template-columns: 100px 200px;
	grid-template-rows: 50px 100px;
	grid-template-areas:
	"footerDescripcionTitulo footerDescripcionTitulo"
	"footerDescripcionImg footerDescripcionParrafo";
	margin: 1rem;
	justify-items: center;
	align-items: center;
}

.footer__descripcion__parrafo{
	grid-area: footerDescripcionParrafo;
	justify-self: center;
	text-align: center;
}

.footer__descripcion__titulo{
	grid-area: footerDescripcionTitulo;
	justify-self: center;
	text-align: center;
}

.footer__descripcion__img{
	grid-area: footerDescripcionImg;
	object-fit: cover;
	width: 100%;
	max-height: 100%;
	border-radius:50%;
	justify-self: center;
}

.footer__contacto__lista{
	list-style: none;
}

.footer__sitemap{
	margin:1rem;
}

.footer__sitemap__lista{
	list-style: none;
}

/********************************************************************************/

/* MEDIA QUERIES */


